= form_for @ot do |f|
  -if @ot.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ot.errors.count, "error")} prohibited this ot from being saved:"
      %ul
        - @ot.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :estado
    = f.select :estado, Ot::ESTADOS
  .field
    = f.label :defectuosos
    = f.text_field :defectuosos
  .field
    = f.fields_for :tinta do |tinta|
      = tinta.label :color1
      = tinta.text_field :color1
  .actions
    = f.submit 'Guardar'
