%p#notice= notice

%p
  %b Estado:
  = @ot.estado
%p
  %b Defectuosos:
  = @ot.defectuosos
%br
%h2 Tinta
= @tinta.color1
%br
%br
%br
%br
%br

= link_to 'Edit', edit_ot_path(@ot)
\|
= link_to 'Back', ots_path
